/*
Rohan Tumkur
11/3/2023
IT202-003
Section 003 Unit 7 Asignment
rat6@njit.edu
*/
body {
    margin:0px;
}
.head_link {
    float: right;
    padding-top: 35px;
    padding-right: 40px;
    font-size: 20px;
}
.head_link a{
    text-decoration: none;
    margin: 10px
}
.head_link a:link{
    color:white;
}
.head_link a:visited{
    color: white;
}
.head_link a:hover{
    color:burlywood;
}

header img {
    float:left;
    padding-top:5px;
    padding-left: 5px;
}
header {
    position: fixed;
    top:0px;
    width: 1375px;
    background-color: darkolivegreen;
    height: 85px;
    font-family: 'Garamond', 'serif';
    
}
header h1 {
    float:left;
    text-align:center;
    padding-left: 15px;
    color: white;
    padding-top: 5px;
    font-size: 30px;
}
main{
    width: 1375px;
    margin-top: 100px;
}

#russian {
    float: left;
    padding-left: 20px;
}
#french {
    float: right;
    padding-right: 20px;
}
#about{
    padding-left: 20px;
    padding-right: 575px;
    font-family: 'Garamond', 'serif';
    color:darkolivegreen;
}
#about h3{
    text-align: center;
    font-size: 60px;
}
#about p{
    font-size: 25px
}
#naan {
    margin-left: 50px;
}
#bun {
    float: right;
    margin-right: 70px;
}
footer {
        background-color: darkolivegreen;
        width: 1375px;
        height: 85px;
        font-family: 'Garamond', 'serif';
        border: 2px solid burlywood;
        margin-top: 20px;
}
footer img{
    float: left;
    padding-top: 5px;
    padding-left: 5px;
}
footer p {
    float: left;
    color: white;
    padding-left: 15px;
    padding-top: 20px;
}

form {
    margin-left: 8px;
    width: 1350px;
}
label{
    font-family: 'Garamond', serif;
}
input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    border-radius: 3px;
}
#shipping_label{
    font-family: Arial, Helvetica, sans-serif;
    width: 487px;
    height: 730px;
    border: 5px solid black
}
#from_address{
    float: left;
    font-size: 12px;
    padding-left: 5px;
}
#to_address{
    margin: 150px;
    font-size:15px;
    
}
#top_right{
    float: right;
    font-size: 12px;
    padding-right: 5px;
}
#tbl {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, 'sans-serif';
    margin-left: 35px;
}
#breads{
    font-family: 'Garamond', 'serif';
    width: 1375px;
    text-align: center;
}
table {
    border: 2px solid darkolivegreen;
    border-spacing: 0;
    border-collapse: collapse;
    width: 1300px;
    text-align: center;

}
table td {
    border: 1px solid darkolivegreen;
    padding: 5px;
    height: 50px;
}
.ttitle{
   background: burlywood;
   font-weight: bold;

}
.bread_link{
    margin: 40px;
    font-size: 18px;
}
.bread_link:link{
    color: rgb(61, 79, 32);
}
.bread_link:visited{
    color:rgb(61, 79, 32);
}
.bread_link:hover{
    color: brown;
}
#theader {
    color: rgb(61, 79, 32);
    margin-left: 5px;
}
#bread-main {
    height: 520px;
    margin-top: 100px;
}
form input.button {
    background-color: rgb(132, 158, 87);
    color: white;
    border-radius: 5px;
    width: 90px;
    height: 36px;
    border: none;
    font-size: 15px;
}
form input.button:hover {
    background-color: darkolivegreen;
}
form.create {
    padding-left: 50px;
    width: 1250px;
    font-size: 20px;


}
form.create select{
    background-color: rgb(132, 158, 87);
    color: white;
    border-radius: 5px;
    width: 90px;
    height: 36px;
    border: none;
    font-size: 15px;
    text-align: center;
}
form.create select option {
    background-color: white;
    color: black; 
}
form.create select:hover {
    background-color: darkolivegreen;
}
main.add-bread {
    font-family: 'Garamond';
    padding-left: 50px;
    width: 1250px;
    font-size: 20px;
    height: 520px;

}
main.add-bread label, span {
    font-size: 30px;
}